.details {
    display: flex;
    justify-content: space-evenly;
}

.detail--column {
    flex-basis: 24%;
    margin:  2rem;
    border: 1px dotted goldenrod;
    padding: 5px;
}

.assignments {
    padding: 1rem 5rem;
}

